<header id="navbar" class="w-full flex flex-row items-center justify-between container-navbar">
    <div>
        <img src="../../assets/logo/conmeo-logo.png" class="h-6 w-full navbar-logo">
    </div>
    <div class="flex flex-row items-center">
        <ul class="flex flex-row">
            <li><a routerLink="/homepage" routerLinkActive="active-link" href="#" class="nav-button">Home</a></li>
            <li><a href="#" class="nav-button">About</a></li>
            <li><a href="#" class="nav-button">Garelly</a></li>
            <li><a href="#" class="nav-button">Blog</a></li>
            <li><a href="#" class="nav-button">Contact</a></li>
        </ul>
        <p *ngIf="isAuthenticated" class="nav-username"><span>{{ getUsername() }}</span></p>
        <div>
            <a *ngIf="!isAuthenticated" class="navbar-signin-button" routerLink="/users/signin">Sign in</a>
            <a *ngIf="isAuthenticated" class="navbar-signin-button" (click)="onLogout()">Log out</a>
        </div>
    </div>
</header>