.verify-container {
    background-color: var(--neutral-90);
}

.verify-logo {
    width: auto;
    height: 45px;
}

.verify-welcome {
    font-size: 22px;
    font-weight: 500;
    color: var(--neutral-30);
}

.verify-form-container {
}

.verify-info-container {
    padding: 28px 0px;
}

.verify-form label {
    color: var(--primary-60);
    font-weight: 500;
    font-size: 18px;
}

.verify-form input {
    margin: 0px;
    padding: 0px;
    background-color: var(--neutral-90);
    height: 40px;
    transition: 0.4s ease all;
    color: var(--neutral-10);
}

.verify-field {
    display: flex;
    flex-direction: column;
    flex: 0.3;
}

.verify-field-logo {
    height: 16px;
    width: auto;
    margin-left: 6px;
    margin-right: 12px;
}

.verify-field:not(.button) {
    width: 72%;
}

.verify-password-field {
    gap: 12px;
}

.verify-form input:focus {
    outline: none;
    color: var(--neutral-10);
}


.verify-forgot-button:hover {
    color: var(--primary-color)
}

.next-button,
.complete-button {
    background-color: var(--neutral-30);
    color: var(--primary-70);
    padding: 6px 26px;
    border-radius: 50px;
    font-weight: 500;
    transition: 0.4s ease all;
    margin-top: 24px;
    cursor: pointer;
}

.next-button:hover,
.complete-button:hover {
    color: var(--primary-90)
}

.verify-field-placeholder,
.verify-avatar-placeholder {
    height: 24px;
}

.verify-avatar-placeholder {
    width: 50%;
}

.verify-field-warning,
.verify-avatar-warning {
    background-color: var(--primary-80);
    height: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verify-avatar-warning {
    border-radius: 10px;
}

.verify-field-instructor {
    font-size: 14px;
}

.verify-field-input {
    border-bottom: solid 2px var(--neutral-40);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: 0.4s ease all;
}

.verify-field-input--focus {
    border-bottom: solid 2px var(--primary-60);
}

.verify-field-checklogo,
.verify-field-errorlogo {
    margin: 0px 12px;
}

.verify-noti-upload {
    font-size: 28px;
    color: var(--primary-60);
    font-weight: 500;
    display: block;
    margin-bottom: 12px;
}

.verify-avatar-container {
}

.verify-avatar-uploadlogo {
    height: 112px;
    width: auto;
    opacity: 0.7;
}

.verify-avatar {
    background-color: var(--primary-90);
    background-size: contain;
    border-radius: 50%;
    height: 225px;
    width: 225px;
    cursor: pointer;
    border: solid 1px var(--primary-60);
}

.complete-button {
    margin-top: 28px;
}
