.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--neutral-90);
}

.loader-logo {
    background-image: url(../../assets/logo/conmeo-logo.png);
    height: 56px;
    width: auto;
    background-size: cover;
}
