<div class="w-full h-full flex flex-col items-center signup-container">
    <div class="basis-3/12 flex items-center">
        <img class="signup-logo" src="../../../assets/logo/conmeo-logo.png">
    </div>
    <p class="signup-welcome basis-1/12">Welcome to Meohome</p>
    <div class="flex items-center justify-center w-full basis-8/12 signup-form-container">
        <form [formGroup]="signUpForm" class="flex flex-col items-center signup-form w-full h-full" #loginForm="ngForm" (ngSubmit)="onSignup()">
            <div class="signup-field">
                <label for="username">Username</label>
                <input [ngClass]="{'signup-field-instructor': !isUsernameClicked}" 
                        (click)="onFirstClickUsername()" 
                        formControlName="username" 
                        type="text" name="username" required/>
                <div class="signup-field-placeholder">
                    <div *ngIf="validateUsername()" class="signup-field-warning">
                        <div *ngIf="signUpForm.get('username')?.hasError('existingUsername')">
                            Username is duplicated
                        </div>
                        <div *ngIf="signUpForm.get('username')?.hasError('required')">
                            Username is required
                        </div>
                        <div *ngIf="signUpForm.get('username')?.hasError('minlength')">
                            Minimum length is 8
                        </div>
                        <div *ngIf="signUpForm.get('username')?.hasError('pattern')">
                            Invalid username format
                        </div>
                    </div>
                </div>
            </div>
            <div class="signup-field">
                <label for="phone">Phone</label>
                <input formControlName="phone" 
                        [ngClass]="{'signup-field-instructor': !isPhoneClicked}"
                        (click)="onFirstClickPhone()"
                        type="phone" name="phone" required>
                <div class="signup-field-placeholder">
                    <div *ngIf="validatePhone()" class="signup-field-warning">
                        <div *ngIf="signUpForm.get('phone')?.hasError('existingPhone')">
                            Phone has already been used!
                        </div>
                        <div *ngIf="signUpForm.get('phone')?.hasError('required')">
                            Phone is required
                        </div>
                        <div *ngIf="signUpForm.get('phone')?.hasError('pattern')">
                            Invalid phone number format
                        </div>
                    </div>
                </div>
            </div>
            <div class="signup-field">
                <label for="email">Email</label>
                <input formControlName="email" type="email" name="email" required>
                <div class="signup-field-placeholder">
                    <div *ngIf="validateEmail()" class="signup-field-warning">
                        <div *ngIf="signUpForm.get('email')?.hasError('existingEmail')">
                            Email has already been used
                        </div>
                        <div *ngIf="signUpForm.get('email')?.hasError('required')">
                            Email is required
                        </div>
                        <div *ngIf="signUpForm.get('email')?.hasError('pattern')">
                            Invalid format email
                        </div>
                    </div>
                </div>
            </div>
            <div class="signup-field button">
                <button class="signup-button" type="submit">Sign up</button>
            </div>
        </form>
    </div>
</div>

