<div class="w-full h-full flex flex-col items-center signup-container">
    <div class="basis-3/12 grid grid-cols-1 place-items-center">
        <img class="signup-logo" src="../../../assets/logo/conmeo-logo.png">
    </div>
    <p class="signup-welcome basis-1/12">Welcome to Meohome</p>
    <form class="flex flex-col items-center w-full signup-form-container basis-8/12" #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="signup-field flex-1">
            <label for="username">Username</label>
            <input type="text" [(ngModel)]="username" name="username" required/>
        </div>
        <div class="flex flex-row items-center justify-between signup-password-field">
            <div class="flex flex-col signup-pass">
                <label for="password">Password</label>
                <input type="password" [(ngModel)]="password" name="password" required>
            </div>
            <div class="flex flex-col signup-pass">
                <label for="password">Confirm Password</label>
                <input type="password" [(ngModel)]="confirmPassword" name="password" required>
            </div>
        </div>
        <div class="signup-field">
            <label for="fullname">Fullname</label>
            <input type="fullname" [(ngModel)]="fullname" name="fullname" required>
        </div>
        <div class="signup-field">
            <label for="phone">Phone</label>
            <input type="phone" [(ngModel)]="phone" name="phone" required>
        </div>
        <div class="signup-field">
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="email" name="email" required>
        </div>
        <div class="signup-field button">
            <button class="signup-button" type="submit">Sign up</button>
        </div>
    </form>
</div>

