.login-img {
    background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg');
    background-size: cover;
    background-position: center;
}

.login-container {
    background-color: var(--neutral-90);
}

.login-logo {
    width: auto;
    height: 45px;
    margin-bottom: 82px;
}

.login-welcome {
    font-size: 22px;
    font-weight: 500;
    color: var(--neutral-30);
    margin-bottom: 64px;
}


.login-form-container label {
    color: var(--primary-60);
    font-weight: 500;
    font-size: 100%;
}

.login-form-container input {
    margin: 0px;
    padding: 0px;
    background-color: var(--neutral-90);
    border-bottom: solid 2px var(--neutral-40);
    height: 36px;
    transition: 0.4s ease all;
    margin-bottom: 12px;
    color: var(--neutral-10);
}

.login-form-container input:focus {
    outline: none;
    border-bottom: solid 2px var(--primary-60);
    color: var(--neutral-10);
}

.login-forgot,
.login-form-container input,
.login-form-container label {
    width: calc(64%);
}

.login-forgot-button {
    font-size: 14px;
    margin-bottom: 48px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s ease all;
}

.login-forgot-button:hover {
    color: var(--primary-color)
}

.login-button {
    background-color: var(--neutral-30);
    color: var(--primary-70);
    padding: 6px 26px;
    border-radius: 50px;
    font-weight: 500;
    transition: 0.4s ease all;
    margin-bottom: 12px;
}

.login-button:hover {
    color: var(--neutral-90)
}

